body{
    background-color: lightgrey;
}

/* navbar styling start*/

.navbar{
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.navbar-brand{
    background-color: pink;
    color: white;
    font-size: xx-large;
    margin: 0px;
    margin-left: 100px;
    padding: 17px 20px;   
}

.navbar-brand:hover{
    color: rgb(255, 140, 159);
}

.navbar li{
    display: inline-block;
    padding: 15px;
    box-align: center;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar li:hover{
    background-color: lightgray;
}

.navbar li a{
    text-decoration: none;
    color: darkgrey;
}

.navbar li a:hover{
    color: white;
}

/* navbar styling end */
/* box styling start */

.box{
    background-color: white;
    margin-top: 50px;
    padding-bottom: 25px;
}

hr{
    margin-left: 25px;
    margin-right: 25px;
}

h1{
    padding-top: 40px;
    padding-left: 25px;
    color: pink;
}

h2{
    padding-left: 25px;
    padding-top: 30px;
    color: pink;
}

summary p{
    margin: 50px 50px 0px;
    /* padding-bottom: 30px; */
    line-height: 2;
}

.summary img{
    float: left;
    width: 300px;
    height: 250px;
    margin: 30px 10px 10px 50px;
    text-align: center;
}

.vizualization img{
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

/* box styling end */
/* comparision box styling start */

.comparison img{
    /* vertical-align: top; */
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.comparison p{
    margin-left: 12px;
}

/* comparison box styling end */
/* footer styling start */

.copyright-container{
    margin-left: 0;
    margin-right: 0;
}

.copyright{
    background:slategray;
    color: white;
    text-emphasis: bold;
    text-align: center;
    padding: 10px 100px;
    margin-left: 0%;
    margin-right: 0%;
    border-top: 5px solid pink
}

/* footer styling end */